parameters:
	paths:
		- src
		- tests
	scanFiles:
		- tools/phpunit/vendor/bin/.phpunit/phpunit/src/Framework/TestCase.php
	scanDirectories:
		- tools/phpunit/vendor/bin/.phpunit/phpunit/src/Framework
	bootstrapFiles:
		- tools/phpunit/vendor/bin/.phpunit/phpunit/vendor/autoload.php
	level: 8
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkUninitializedProperties: true
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false
	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		checkedExceptionClasses:
			- '\Assert\AssertionFailedException'
		implicitThrows: false
	ignoreErrors:
		# ignore code copied from upstream
		-
			message: '#^Only booleans are allowed in an if condition,#'
			paths:
				- src/Parsers/SystopiaSchemaParser.php
		-
			message: '#^Construct empty\(\) is not allowed. Use more strict comparison.$#'
			paths:
				- src/Parsers/SystopiaSchemaParser.php
		# false positives
		-
			message: "#^Method [^ ]+\\\\ExpressionVariablesContainer::parse\\(\\) has [^ ]+\\\\ParseException in PHPDoc @throws tag but it's not thrown.$#"
			paths:
				- src/Expression/ExpressionVariablesContainer.php
		-
			message: "~^Parameter #6 \\$errors of method [^ ]+::error\\(\\) expects .+ [^ ]+\\\\ErrorContainer given.$~"
			paths:
				- src/Keywords/*.php
	tmpDir: .phpstan
